@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yellowtail&display=swap');
* {
    font-family: Roboto;
    color: #4b4b4b;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
body{
    background-color: #e8eff0;
}

.flex-box{
    display: flex;
    justify-content: space-around;
}

.flex-item-2{
    flex-basis: 50%;
}

.flex-item-3{
    flex-basis: 33.33%;
}

.flex-item-5{
    flex-basis: 20%;
}

.double-underline{
    border-bottom: double #f2f2f2 5px;
}

.dashed-underline{
    border-bottom: dashed #f2f2f2 2px;
}

.dashed-left{
    border-left: dashed #f2f2f2 2px;
}

.margin-1{
    margin: 0 -1rem;
}

.gray-color{
    color: #a7a7a7 !important;
}

.center-block{
    display: block;
    text-align: center;
}

.container{
    max-width: 960px;
    margin: 10px auto;
}
.header{
    margin-bottom: 2rem;
}

.header #logo{
    font-family: YellowTail;
    font-size: 4rem;
}

.header .nav li{
    display: inline;
    border-left: dashed #4b4b4b 1px;
    padding: 0 0.6rem;
}

.header .nav li:hover a,
.header .nav li:hover a i{
    color: #888888;
}

.header .sign-up{
    background-color: #fcfcfc;
    padding: 1.5rem;
    background-image: url(../img/stripe.png);
    background-repeat: repeat-x;
    background-origin: padding-box;
}

.header .sign-up h4{
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

.header .sign-up input{
    height: 2rem;
}

.header .sign-up input[type=email]{
    width: 60%;
    margin-right: 2rem;
}

.header .sign-up input[type=button]{
    width: 30%;
    font-weight: bold;
    border: #92a7b5 solid 1px;
    border-radius: 0.2rem;
    background-image: linear-gradient(#bbc9d4,#b9c7d2,#8da4b6);
    cursor: pointer;
}

.header .sign-up input[type=button]:hover{
    box-shadow: inset #696969  0 0 5px;
}

.content{
    background-color: #fcfcfc;
    padding: 2rem 2.5rem;
}

.content .first-deal{
    padding-bottom: 2rem;
}
.content .first-deal .deal-img{
    flex-basis: 70%;
    padding-right: 2rem;
}

.content .first-deal .deal-img h2{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.content .first-deal .deal-img .img{
    width: 100%;
    padding-top: 50%;
    background-color: #ef5741;
    border: white solid 5px;
    box-shadow: #e5e5e5  0 0 10px;
    margin-bottom: 2rem;
}

.content .first-deal .deal-img p{
    font-size: 0.9rem;
    text-align: justify;
}
.content .first-deal .submit-deal{
    flex-basis: 30%;
}

.content .first-deal .submit-deal .deal-info{
    background: url(../img/ScriptBG.png) top center/ 100% no-repeat;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.submit-deal .deal-info h3{
    padding: 0.5rem 0 0.5rem 0;
}

.submit-deal .deal-info h1{
    font-size: 4rem;
}

.submit-deal .deal-value h4{
    padding: 0.5rem 0;
}

.submit-deal .deal-value span{
    margin-top: 0.5rem;
}

.submit-deal .social{
    padding: 1rem;
}

.submit-deal .social a{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.submit-deal .social .fa-facebook-square:hover{
    color: #087BEA;
}

.submit-deal .social .fa-twitter-square:hover{
    color: #1D9BF0;
}

.submit-deal .buy-deal{
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: #94af5b solid 1px;
    border-radius: 0.5rem;
    background-image: linear-gradient(#c8e183,#c5dc87,#a1cc58);
    cursor: pointer;
}

.submit-deal .buy-deal:hover{
    box-shadow: inset #696969  0 0 5px;
}

.content .client-list{
    padding: 1.5rem 0;
    background-color: #ffffff;
}

.content .client-list .client-item{
    padding: 0 1rem;
}
.content .deal-list .deal-item{
    padding: 1.5rem 1rem;
}

.content .deal-list .deal-item .deal-info{
    background-color: white;
    padding: 0.4rem;
    box-shadow: #e5e5e5  0 0 5px;
    margin-bottom: 0.7rem;
}

.content .deal-list .deal-item h4{
    margin-bottom: 0.6rem;
}

.content .deal-list .deal-item p{
    font-size: 0.9rem;
    font-weight: bold;
}

.content .deal-list .deal-item span{
    padding-top: 0.2rem;
}
.content .deal-list .deal-item .img{
    background-color: #ef5741;
    width: 100%;
    padding-top: 50%;
    margin-bottom: 0.5rem;
}

.content .deal-list .deal-item .detail{
    padding: 0.2rem 0;
}

.content .deal-list .deal-item .time{
    font-size: 0.7rem;
    font-weight: 100;
    display: inline;
}

.content .deal-list .deal-item button{
    display: inline;
    float: right;
    width: 33.33%;
    padding: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: #94af5b solid 1px;
    border-radius: 0.2rem;
    background-image: linear-gradient(#c8e183,#c5dc87,#a1cc58);
    cursor: pointer;
}

.content .deal-list .deal-item button:hover{
    box-shadow: inset #696969  0 0 5px;
}

.footer .about {
    padding: 1rem;
}

.footer .about h3{
    margin-bottom: 1rem;
}

.footer p{
    margin-bottom: 1rem;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.5;
    color: #8c8b8c;
}

.footer .twitter{
    padding: 1rem;
}

.footer .twitter .detail{
    padding: 1rem 0;
}

.footer a{
    color: #879a66;
    font-size: 0.9rem;
}

.footer .twitter span{
    background-color: #e9e9e9;
    color: #8c8b8c;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.footer .other{
    padding: 1rem;
}

.footer ul{
    margin-top: 1rem;
}
.footer li{
    padding: 0.5rem 0;
}

.footer li:hover>a{
    color: #afc588;
}