@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yellowtail&display=swap');
* {
    font-family: Roboto;
    color: #4b4b4b;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
body{
    background-color: #e8eff0;
}

.flex-box{
    display: flex;
    justify-content: space-around;
}

.flex-item-2{
    flex-basis: 50%;
}

.flex-item-3{
    flex-basis: 33.33%;
}

.flex-item-5{
    flex-basis: 20%;
}

.double-underline{
    border-bottom: double #f2f2f2 5px;
}

.dashed-underline{
    border-bottom: dashed #f2f2f2 2px;
}

.dashed-left{
    border-left: dashed #f2f2f2 2px;
}

.margin-1{
    margin: 0 -1rem;
}

.gray-color{
    color: #a7a7a7 !important;
}

.center-block{
    display: block;
    text-align: center;
}

.container{
    max-width: 960px;
    margin: 10px auto;
}